<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../js/funciones.js">
	
</script>

</head>
<body>

	<div id="caja" layout:fragment="content" class="container">
		<div class="row">
			<div class="col-md-6 offset-3">
				<h2 class="text-center">Registrarse</h2>
				<hr>
			</div>
		</div>

		<form th:action="@{/usuarios/altaUsuario-submit}"
			th:object="${usuario}" method="post" class="was-validated">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputEmail">Correo electrónico</label>
					<input type="text" class="form-control" th:field="*{email}"
						id="inputEmail" placeholder="Email" required >
				</div>

				<div class="form-group col-md-4">
					<label for="inputPassword">Contraseña</label> <input
						type="password" class="form-control" th:field="*{password}"
						id="inputPassword" minlength=8 maxlength=20 required
						placeholder="Contraseña">
				</div>
				<div class="form-group col-md-4">
					<label for="inputPassword">Confirmar contraseña</label> <input
						type="password" class="form-control" th:field="*{password}"
						id="inputPassword2" minlength=8 maxlength=20 required
						placeholder="Confirmar contraseña" oninput="check(this)">
				</div>

			</div>


			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputDNI">DNI</label> <input type="text"
						th:field="*{dni}" class="form-control" id="inputDNI"
						placeholder="DNI" minlength=9 maxlength=9 required >
				</div>
				<div class="form-group col-md-4">
					<label for="inputNombre">Nombre</label> <input type="text"
						th:field="*{nombre}" class="form-control" id="inputNombre"
						minlength=2 maxlength=50 required placeholder="Nombre">
				</div>
				<div class="form-group col-md-4">
					<label for="inputApellidos">Apellidos</label> <input type="text"
						th:field="*{apellidos}" class="form-control" id="inputApellidos"
						placeholder="Apellidos" minlength=2 maxlength=80 required>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="inputFnac">Fecha de nacimiento</label> <input
						th:field="*{fnac}" type="date" class="form-control" id="inputFnac">
				</div>
				<div class="form-group col-md-9">
					<label for="inputAddress2">Dirección</label> <input type="text"
						th:field="*{direccion}" class="form-control" id="inputAddress2"
						minlength=5 maxlength=150 required
						placeholder="Tipo de vía, calle, nº, piso, puerta...">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="provincia.id">Provincia</label> <select
						id="provincia.id" name="provincia.id" required
						class="form-control">
						<option value="">Selecciona provincia</option>
						<option th:each="i : ${provincias}" th:text="${i.provincia}"
							th:value="${i.id}">
							<!--th:selected="${i.id==0}"--></option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="inputPoblacion">Población</label> <input type="text"
						th:field="*{poblacion}" id="inputPoblacion" class="form-control"
						minlength=2 maxlength=50 required>

				</div>
				<div class="form-group col-md-2">
					<label for="inputCP">Código Postal</label> <input type="text"
						th:field="*{cp}" class="form-control" id="inputCP" minlength=5
						maxlength=5 required pattern="^(?:0[1-9]|[1-4]\d|5[0-2])\d{3}$">
				</div>
				<div class="form-group col-md-2">
					<label for="inputTelefono">Teléfono</label> <input type="text"
						th:field="*{telefono}" class="form-control" id="inputTelefono"
						minlength=9 maxlength=13 required>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck">
					<label class="form-check-label" for="gridCheck"> Check me
						out </label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Registrarse</button>

			<div th:if="${message}" th:text="${message}"
				th:class="${'alert ' + alertClass}" />
		</form>

</body>
</html>