<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="caja" layout:fragment="content" class="container">


		<div class="row">
			<div class="col-md-6 offset-3">
				<h2 class="text-center">Registrar Animal</h2>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 offset-3">

				<form th:action="@{/animales/add-submit}" th:object="${animal}"
					method="post" enctype="multipart/form-data">
					<!-- el objeto inicializado en el controlador: ⬆️ Animal animal = new Animal(); -->




					<!-- INPUT TIPO ANIMAL -->


					<!-- th:field = name,  th:value = value -->
					<!-- tipo sería la variable de la clase Animal -->

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Animal</label>
						<div class="col-sm-10">
							<div class="form-check">
								<input type="radio" th:field="*{tipo}" required th:value="*{tipo.PERRO}"
									class="form-check-input" /> <label class="form-check-label">🐕</label>
							</div>

							<div class="form-check">
								<input type="radio" th:field="*{tipo}" required th:value="*{tipo.GATO}"
									class="form-check-input" /> <label class="form-check-label">🐈</label>
							</div>

						</div>
					</div>
<!-- 
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="animal.id">Animal</label>
							<div class="col-sm-10">
								<select th:field="*{animal.id}" class="form-control">
									<option th:each="i : ${animales}" th:text="${i.nombre}"
										th:value="${i.id}"></option>
								</select>
							</div>
						</div>
-->
					<!-- INPUT CAMBIAR ESTADO DEL ANIMAL -->
 
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="estado">Estado</label>
						<div class="col-sm-10">
							<select th:field="*{estado}" class="form-control">
								<option th:each="i : ${estados}" th:text="${i}" th:value="${i}"></option>
							</select>
						</div>
					</div>




					<div class="form-group row">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-success float-right"
								id="botonAlta">Guardar</button>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">Total de ancho (12 casillas)</div>
					</div>

					<div class="row">
						<div class="col-md-6">Mitad de ancho (6 casillas izquierda)
						</div>
						<div class="col-md-6">Mitad de ancho (6 casillas derecha)</div>
					</div>

					<div class="row">
						<div class="col-md-3">Un tercio de ancho (primera parte)</div>
						<div class="col-md-3">Un tercio de ancho (segunda parte)</div>
						<div class="col-md-3">Un tercio de ancho (tercera parte)</div>
					</div>



				</form>
			</div>
		</div>
	</div>

</body>
</html>