<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="caja" layout:fragment="content" class="container caja">


		<div class="row">
			<div class="col-md-6 offset-3">
				<h2 class="text-center">Registrar Animal</h2>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9 offset-1">

				<form th:action="@{/animales/bajaAnimal-submit}" th:object="${animal}"
					method="post" enctype="multipart/form-data">
					<!-- el objeto inicializado en el controlador: ⬆️ Animal animal = new Animal(); -->


					<!-- INPUT TIPO ANIMAL -->


					<!-- th:field = name,  th:value = value -->
					<!-- tipo sería la variable de la clase Animal -->

					<div class="form-group row">
						<label class="col-sm-1 col-form-label">Animal</label>
						<div class="col-sm-1">
							<div class="form-check">
								<input type="radio" th:field="*{tipo}" required th:value="*{tipo.PERRO}"
									class="form-check-input" /> <label class="form-check-label">🐕</label>
							</div>

							<div class="form-check">
								<input type="radio" th:field="*{tipo}" required th:value="*{tipo.GATO}"
									class="form-check-input" /> <label class="form-check-label">🐈</label>
							</div>

						</div>
						<label class="col-sm-1 col-form-label" for="animal.id">Animal</label>
						<div class="col-sm-9">
							<select id="animal.id" name="animal.id" required
								class="form-control">
								<option value="">Selecciona animal</option>
								<option th:each="i : ${animales}" th:text="${i.nombre} + ' - ' + ${i.sexo} + ' - ' + ${i.raza} + ' - ' + ${i.poblacion}"
									th:value="${i.id}">
									<!--th:selected="${i.id==0}"--></option>
							</select>




						</div>
						
						
					</div>
 
						
						

					<!-- INPUT CAMBIAR ESTADO DEL ANIMAL -->
 
					<div class="form-group row">
						<label class="col-sm-1 col-form-label" for="estado">Estado</label>
						<div class="col-sm-3">
							<select th:field="*{estado}" class="form-control">
								<option th:each="i : ${estados}" th:text="${i}" th:value="${i}"></option>
							</select>
						</div>
						<label class="col-sm-1 col-form-label" for="animal.id">Usuario</label>
						<div class="col-sm-7">
							<select id="usuario.id" name="usuario.id" required
								class="form-control">
								<option value="">Selecciona usuario</option>
								<option th:each="i : ${usuarios}" th:text="${i.dni} + ' - ' + ${i.nombre} + ' ' + ${i.apellidos} + ' - ' + ${i.poblacion}"
									th:value="${i.id}">
									<!--th:selected="${i.id==0}"--></option>
							</select>




						</div>
						
					</div>
					




					<div class="form-group row">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-success float-right"
								id="botonAlta">Guardar</button>
						</div>
					</div>

	


				</form>
			</div>
		</div>
	</div>

</body>
</html>