<!DOCTYPE HTML>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main role="main" layout:fragment="content" style="background-color:red">

			<div class="album py-3 caja">

					<div class="row">
						<th:block th:each="animal : ${animales}">
							<div class="col-md-4">
								<div class="card mb-4 box-shadow">

									<div class="card-header">
										<h5>
											<th:block th:text="${animal.nombre}"></th:block>
											
											<th:block th:switch="${animal.sexo}">
												<small class="float-right" th:case="${sexos.MACHO}">♂️ </small>
												<small class="float-right" th:case="${sexos.HEMBRA}">♀️ </small>
											</th:block>
											<small class="float-right" th:text="${animal.getEdad()}"></small>
										</h5>
										<small class="float-right" style="margin-top:-14px;margin-bottom:-5px" th:text="${animal.getFnacSpanish()}"></small>

									</div>
									<div class="card-body">
										<img class="card-img-top"
											th:src="@{'/imagenes/animales/' + ${animal.foto}}"
											alt="Card image cap">
										<p>
											<b>Raza: </b><span th:text="${animal.raza}"></span>
										</p>
										<p class="card-text" th:text="${animal.descripcion}"></p>

										
										<p class="card-text" th:text="${animal.esterilizado.getDisplayName()}"></p>
									
											<p class="card-text" th:text="${animal.poblacion} + ' (' + ${animal.provincia.provincia} + ')'"></p>
									
						
									</div>
									<div style="text-align:center;" class="card-footer alert-primary" th:if="${authUser.getId() != animal.owner.getId()}">
										<h5 style="display:inline" th:text="${animal.estado.getDisplayName()}"></h5>
										<span>(por </span><b  th:text="${animal.owner.getNombre()}"></b><span>)</span>
									</div >
									<div style="text-align:center;"  class="card-footer alert-success" th:if="${authUser.getId() == animal.owner.getId()}">
										<h5 style="display:inline" th:text="${animal.estado.getDisplayName()}"></h5>
										<span>(por usted, </span><b  th:text="${animal.owner.getNombre()}"></b><span>)</span>
									</div >
								</div>
							</div>

						</th:block>
					</div>

			</div>

		</main>

</body>
</html>