<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



	<div id="caja" layout:fragment="content" class="container">

		<form action="" name="formularioVotantes" id="formularioVotantes"
			method="post">
			<!-- el objeto inicializado en el controlador: ⬆️ Animal animal = new Animal(); -->
		
		</form>
	</div>
	
					<div class="row">
						<div class="col-md-12">Total de ancho (12 casillas)</div>
					</div>

					<div class="row">
						<div class="col-md-6">Mitad de ancho (6 casillas izquierda)
						</div>
						<div class="col-md-6">Mitad de ancho (6 casillas derecha)</div>
					</div>

					<div class="row">
						<div class="col-md-3">Un tercio de ancho (primera parte)</div>
						<div class="col-md-3">Un tercio de ancho (segunda parte)</div>
						<div class="col-md-3">Un tercio de ancho (tercera parte)</div>
					</div>
	

</body>
</html>