

<!-- Footer -->
<footer th:fragment="footer"  xmlns:th="http://www.thymeleaf.org" class="footer page-footer font-small violet-gradient pt-3 ">

  <!-- Footer Links -->
  <div class="container-fluid text-center  text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->
	
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Sobre nosotros</a>
          </li>
          <li>
            <a href="#!">Aviso Legal</a>
          </li>
          <li>
            <a href="#!">Cookies</a>
          </li>
          <li>
            <a href="#!">Politica de privacidad</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-center">Redes sociales</h5>
        <br>
        
        <ul class="list-unstyled list-inline text-center">
        
          <li class="list-inline-item">
          <a class="fb-ic">
             <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
             </a>
          </li>
          
          <li class="list-inline-item">
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </li>
          
          <li class="list-inline-item">
          <a class="ig-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </li>
          
          <li class="list-inline-item">
          <a class="wa-ic">
            <i class="fab fa-whatsapp fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </li>
          <li class="list-inline-item">
          <a class="tl-ic">
            <i class="fab fa-telegram fa-lg white-text fa-2x"> </i>
            </a>
          </li>
        </ul>

      

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-2">© 2019 Copyright:
    <a href="https://github.com/Sandrituky">Sandrituky</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->