            <meta charset="UTF-8">
<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Protectora</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu-principal">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menu-perros" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">En adopción</a>
          <a class="dropdown-item" href="#">Reservados</a>
          <a class="dropdown-item" href="#">Adoptados</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menu-gatos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gatos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">En adopción</a>
          <a class="dropdown-item" href="#">Reservados</a>
          <a class="dropdown-item" href="#">Adoptados</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menu-gatos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestión
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/animales/altaAnimal}">Alta</a>
          <a class="dropdown-item" th:href="@{/animales/bajaAnimal}">Baja</a>
          <a class="dropdown-item" href="@{/animales/modAnimal}">Modificar</a>
        </div>
      </li>
            
      <li class="nav-item">
        <a class="nav-link" href="#">Ejemplo</a>
      </li>
      
      
      </ul>
      
      
      <a th:href="@{/usuarios/altaUsuario}">¿Aún no estás registrado?</a>
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Usuario" aria-label="Usuario">
      <input class="form-control mr-sm-2" type="password" placeholder="Contraseña" aria-label="password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar sesión</button>
      
    </form>
  </div>
</nav>
	
</header>

