
<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
	<div align="left">
		<a href="index.html"><img id="logo"
			src="Vista/imagenes/header.png" /></a>
	</div>
	<nav style="margin: auto;">
	<ul id="menu-bar">
		<li class="active"><a href="menuEntrada.php">Inicio</a></li>
		<li><a href="#">Perros</a>
			<ul>
				<li><a href="">En adopción</a></li>
				<li><a href="">Reservados</a></li>
				<li><a href="">Adoptados</a></li>
			</ul></li>
		<li><a href="#">Gatos</a>
			<ul>
				<li><a href="">En adopción</a></li>
				<li><a href="">Reservados</a></li>
				<li><a href="">Adoptados</a></li>
			</ul></li>
		<li><a href="#">Gestión</a>
			<ul>
				<li><a href="">Alta</a></li>
				<li><a href="">Baja</a></li>
				<li><a href="">Modificar</a></li>
			</ul></li>
		<li><a href="">Mostrar resultados</a></li>
		<li id="redes"></li>
	</ul>
</nav>

</header>

