<meta charset="UTF-8">
<div  th:fragment="login" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<!--  <th:block th:if="${authUser != null}">  Otra manera de hacerlo-->
	<th:block sec:authorize="isAuthenticated()" >
	
	<th:block sec:authorize="hasAuthority('USER')">
		<form th:action="@{/logout}" method="post">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menu-usuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <th:block  navbar-collapse collapse justify-content-between><span>!Hola</span><span class="green-text" style="font-weight:bold" th:text="${authUser.nombre}"></span>!</th:block>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" th:href="@{/usuarios/miCuenta}">Mi cuenta</a>	
          <a class="dropdown-item" th:href="@{/usuarios/reservas}">Mis reservas</a>
        </div>
      </li>
      <button class="btn btn-md btn-danger m-0 px-3" type="submit">Cerrar sesión</button>
      </ul>
			
		</form>
		</th:block>
		
		<th:block sec:authorize="hasAuthority('ADMIN')">
		<form th:action="@{/logout}" method="post">
		<th:block  navbar-collapse collapse justify-content-between ><span class="white-text">!Hola</span><span class="red-text" style="font-weight:bold" th:text="${authUser.nombre}"></span><span class="white-text">!</span></th:block>
			<input  type="submit" value="Cerrar Sesion"  class="btn btn-md btn-danger m-0 px-3" />
		</form>
		</th:block>
		
		
	</th:block>

	<th:block sec:authorize="!isAuthenticated()">
		
		<form th:action="@{/login}" method="post"
			class="form-inline my-2 my-lg-0">
			<a class="light-blue-text" th:href="@{/usuarios/altaUsuario}">¿Aún no estás registrado?</a>
			
			<input class="form-control mr-sm-2" type="text" name="loginEmail" 
				placeholder="Usuario" aria-label="Usuario"> 
				
				<input class="form-control mr-sm-2" type="password" name="loginPassword"
				placeholder="Contraseña" aria-label="password">
			<button class="btn btn-md btn-success m-0 px-3" type="submit">Iniciar
				sesión</button>

		</form>
	</th:block>

</div>

