<meta charset="UTF-8">
<div th:fragment="login" xmlns:th="http://www.thymeleaf.org">

	<!--  <th:block th:if="${authUser != null}">  Otra manera de hacerlo-->
	<th:block sec:authorize="isAuthenticated()">
		<span th:text="'¡Hola ' + ${authUser.nombre} + '!'"></span>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Cerrar Sesion" />
		</form>
	</th:block>

	<th:block sec:authorize="!isAuthenticated()">
		<a th:href="@{/usuarios/altaUsuario}">¿Aún no estás registrado?</a>
		<form th:action="@{/login}" method="post"
			class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" name="loginEmail"
				placeholder="Usuario" aria-label="Usuario"> <input
				class="form-control mr-sm-2" type="password" name="loginPassword"
				placeholder="Contraseña" aria-label="password">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar
				sesión</button>

		</form>
	</th:block>

</div>

