<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org" xmlns="w3.org/1999/xhtml" >
	
<head>
        <meta charset="UTF-8">
        
        <link rel="shortcut icon" th:href="@{/favicon.ico}" href="../static/favicon.ico" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<link th:href="@{/css/pretty-checkbox.min.css}" rel="stylesheet" href="../static/css/pretty-checkbox.min.css" />

<link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet" href="../static/css/materialdesignicons.min.css" />
	
	<link th:href="@{/css/estilo.css}" media="screen" rel="stylesheet" href="../static/css/estilo.css" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<link th:href="@{/plugins/MDB-free/css/mdb.min.css}" rel="stylesheet" href="../static/plugins/MDB-free/css/mdb.min.css" />








<script th:src="@{/plugins/jquery/moment.js}" href="../static/plugins/jquery/moment.js"></script>

<script th:src="@{/plugins/jquery/jquery-3.4.1.min.js}" href="../static/plugins/jquery/jquery-3.4.1.min.js"></script>

<script th:src="@{/plugins/popper/popper.min.js}" href="../static/plugins/popper/popper.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"> </script>

<script th:src="@{/plugins/MDB-Free/js/mdb.min.js}" href="../static/plugins/MDB-Free/js/mdb.min.js"></script>

<script th:src="@{/js/funcionesCheck_JS.js}" href="../static/js/funcionesCheck_JS.js"></script>

<script th:src="@{/js/funcionesCheck_jQuery.js}" href="../static/js/funcionesCheck_jQuery.js"></script>

<script th:src="@{/js/funciones.js}" href="../static/js/funciones.js"></script>


</head>
<body>



	<header th:replace="fragments/header :: header"></header>

	<main layout:fragment="content"></main>

	<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
