<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
<link th:href="@{/css/estilo.css}" rel="stylesheet" href="../static/css/estilo.css" />
<script th:src="@{/jquery/jquery.js}" href="../static/jquery/jquery.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}" href="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div layout:fragment="content"></div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>