root { 
    display: block;
}


main{
	min-height:100%;
	height:100%;
	margin: 0;
	padding:0;
	flex:1 0 auto;
}

body{
	margin:0;
  padding:0;  
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:100vh;
  
}

footer.page-footer{
 width: 100%;
 background-color:rgba(0,0,0,0.8);
 
 }
 
 #mensaje{
  margin:20px auto;
  min-width:55%;
    max-width:55%;
    text-align:center;
 }
 
 .titulo{
 margin:20px auto;
  min-width:55%;
    max-width:55%;
 }


.caja {
    min-width:75%;
    max-width:75%;
    background-color:#eeeeee;
    text-align: left;
    background-repeat:no-repeat;
    overflow:auto;
    font-size:12pt;
	border-radius: 10px;
	min-height: 50%;
	min-height: 50vh;
	margin: 20px auto;
	padding: 20px 30px 20px 30px;
}


.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#loading{
  width: 28%;
}

.loading{
	background-image:url('/imagenes/loading.gif') !important; 
	padding-right: calc(1.5em + .75rem);
	background-repeat: no-repeat;
	background-position: center right calc(.375em + .1875rem);
	background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}




.cajita {

    background-color:rgba(255,255,255,0.6);
    text-align: left;
    background-repeat:no-repeat;
    overflow:auto;
    font-size:12pt;
    padding:35px;
    border-radius:25px;
    bottom:20px;
    margin:auto;
    position:relative;
    top:10px;

    /*border: 1px solid #000;*/
    margin-bottom:5	0px;
}

h1{
    text-align: center;
}

span + span{
	margin-left: 5px;
}

a + input{
	margin-left: 15px;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

#imagePreview {
    width: 180px;
    height: 180px;
    background-position: center center !important;
    background-size: cover !important; 
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    background-image: url('http://via.placeholder.com/350x150');
    
    
}


#uploadFile{
  display: none
}

.table > tbody > tr > td {
font-family:Arial;
font-size:14px;
vertical-align:middle;
horizontal-align:middle;
text-align:center;
padding:5px;
font-weight:500;
}



.nombreAdoptante{
	font-weight:700 !important;
	font-size:16px !important;
	color:purple;
}


th{
text-align:center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;            /* Footer height */
}



.estiloTipo {
    position:relative;
    left: -37%;
	top: 0%;
	font-size:200%;	
	text-shadow: 0px -1px 0px #000000, 0px 1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000, 1px 1px 0px #000000, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 3px 3px 0px rgba(120,254,255,0), #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFFFFF 0px 0px 20px, #FFFFFF 0px 0px 30px, #FFFFFF 0px 0px 40px, #FFFFFF 0px 0px 50px, #FFFFFF 0px 0px 75px;
}

.estiloSexo {
	position:relative;
	left: 41%;
	top: -24%;
	color:black;
	font-size:200%;
	text-shadow: 0px -1px 0px #000000, 0px 1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000, 1px 1px 0px #000000, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 3px 3px 0px rgba(120,254,255,0), #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFFFFF 0px 0px 20px, #FFFFFF 0px 0px 30px, #FFFFFF 0px 0px 40px, #FFFFFF 0px 0px 50px, #FFFFFF 0px 0px 75px;
}

.intPubli{
	position:absolute;
	margin-top:-5%;
}

.cajaError{
	 background-image:url('/imagenes/error.png');
	 background-position:  bottom;
}






