root { 
    display: block;
}


body{
	margin: 0;
	padding:0;
        margin-top:5px;
        background-color: rgba(255,255,255,1);
        min-width:100%;
}

#loading{
  width: 28%;
}

.loading{
	background-image:url('/imagenes/loading.gif') !important; 
	padding-right: calc(1.5em + .75rem);
	background-repeat: no-repeat;
	background-position: center right calc(.375em + .1875rem);
	background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}


.caja {
    width:85%;
    background-color:rgba(230,230,230,0.5);
    text-align: left;
    background-repeat:no-repeat;
    overflow:auto;
    font-size:12pt;
    padding:20px;
	border-radius: 10px;
	margin: auto;
	position: relative;
	top: 10px;
	/*border: 1px solid #000;*/

}

.cajita {

    background-color:rgba(255,255,255,0.6);
    text-align: left;
    background-repeat:no-repeat;
    overflow:auto;
    font-size:12pt;
    padding:35px;
    border-radius:25px;
    bottom:20px;
    margin:auto;
    position:relative;
    top:10px;

    /*border: 1px solid #000;*/
    margin-bottom:5	0px;
}

h1{
    text-align: center;
}

span + span{
	margin-left: 5px;
}

a + input{
	margin-left: 15px;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

#imagePreview {
    width: 180px;
    height: 180px;
    background-position: center center !important;
    background-size: cover !important; 
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    background-image: url('http://via.placeholder.com/350x150');
    
    
}


#uploadFile{
  display: none
}

.table > tbody > tr > td {
font-family:Arial;
font-size:20px;
vertical-align:middle;
horizontal-align:middle;

}



.estiloTipo {
    position:relative;
    left: 4%;
	top: -1%;
	font-size:120%;	
	text-shadow: 0px -1px 0px #000000, 0px 1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000, 1px 1px 0px #000000, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 3px 3px 0px rgba(120,254,255,0), #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFFFFF 0px 0px 20px, #FFFFFF 0px 0px 30px, #FFFFFF 0px 0px 40px, #FFFFFF 0px 0px 50px, #FFFFFF 0px 0px 75px;
}

.estiloSexo {
	position:relative;
	left: 87%;
	top: -21%;
	color:black;
	font-size:120%;
	text-shadow: 0px -1px 0px #000000, 0px 1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000, 1px 1px 0px #000000, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 3px 3px 0px rgba(120,254,255,0), #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFFFFF 0px 0px 20px, #FFFFFF 0px 0px 30px, #FFFFFF 0px 0px 40px, #FFFFFF 0px 0px 50px, #FFFFFF 0px 0px 75px;
}

.intPubli{
	position:absolute;
	margin-top:-5%;
}








