<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



	<div id="caja" layout:fragment="content" class="container">

		<form action="" name="formularioVotantes" id="formularioVotantes"
			method="post">
			<table>
				<tr>
					<td>Animal:</td>
					<td><input type="radio" name="animalType" value="perro">
					<label for="spayedYes">🐕</label>
						<input type="radio" name="animalType" value="gato">
						<label for="spayedYes">🐈</label><br></td>
				</tr>
				<tr>
					<td>Sexo:</td>
					<td><input type="radio" name="animalGender" value="macho">♂️
						<input type="radio" name="animalGender" value="hembra">♀️<br></td>
				</tr>
				<tr>
					<td>Nombre:</td>
					<td><input type="text" id="nombreAnimal" required
						maxlength="30" name="nombreAnimal" /></td>
				</tr>
				<tr>
					<td>Raza:</td>
					<td><input type="text" id="raza" required maxlength="60"
						name="raza" /></td>
				</tr>
				<tr>
					<td>Fecha de nacimiento:</td>
					<td><input type="date" id="fnacAnimal" required maxlength="30"
						name="fnacAnimal" /></td>
				</tr>
				<tr>
					<td>Localidad</td>
					<td><input type="text" required id="localidad"
						name="localidad" maxlength="30" /></td>
				</tr>
				<tr>
					<td>Población</td>
					<td><input type="text" required id="poblacion"
						name="poblacion" maxlength="30" /></td>
				</tr>
				<tr>
				<tr>
					<td>Esterilizado:</td>
					<td><input type="radio" name="spayed" id="spayedYes" value="spayedYes">
					<label for="spayedYes">Si</label> 
					<input type="radio" name="spayed" id="spayedNo" value="spayedNo">
					<label for="spayedNo">Pendiente</label></td>
				</tr>
				</tr>
				<tr>
					<td>Foto:</td>
					<td><input type="file" name="pic" accept="image/*"></td>
				</tr>
				<tr>
					<td>Información</td>
					<td><textarea name="infoAnimal" id="infoAnimal" required
							rows="5" cols="50"></textarea></td>
				</tr>


				<tr>
					<td style="text-align: center;" colspan="2"><input
						type="submit" id="botonAlta" name="botonAlta" value="Poner en adopción" /></td>
				</tr>

			</table>


			<div></div>
		</form>
	</div>

</body>
</html>