<!DOCTYPE html>

<html xmlns:layout="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



<title>Protectora</title>
</head>
<body>

	<main layout:fragment="content">

<div id="mensaje" th:if="${message}" th:text="${message}"
					th:class="${'alert mt-4 alert-' + resul}"></div>	

		<div id="mensaje" class="alert alert-danger mt-4" th:if="${result == 'error'}">Los
			datos de acceso no son válidos.</div>
		<div id="mensaje" class="alert alert-success mt-4" th:if="${result == 'login'}">Te
			has autenticado correctamente.</div>
		<div id="mensaje" class="alert alert-warning mt-4" th:if="${result == 'logout'}">Has
			cerrado sesión correctamente.</div>

	

		<div class="caja" th:replace="fragments/listAllAdoptableAnimals.html :: listAllAnimales"></div>
		
		

	</main>
</body>





</html>