 <div class="col-md-4"> 		<!-- tamaño de la ficha (eje X) -->
              <div class="card mb-4 box-shadow"> 		<!-- ponerle sombra a la caja -->
				<div class="card-body">
                <img class="card-img-top" th:src="@{'/imagenes/' + ${animal.foto}}" alt="Card image cap">
                
                  <p class="card-text" th:text="${animal.descripcion}"></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
